.idea/
.DS_Store
*.iml
env.sh
env.yml
.env
tmp/*
target/
vertx/
storage/
dependency-reduced-pom.xml
mets_eai1_1021439846029300.xml
in/
out/
**/*.log
**/*.jar
log/*
!log/.gitkeep
data/*
!data/.gitkeep
**/.vertx/*
!**/.vertx/.gitkeep
docker/Dockerfile


