.idea/
.DS_Store
*.iml

env.sh
env.yml
.env
tmp/*
target/
vertx/
storage/
dependency-reduced-pom.xml
mets_eai1_1021439846029300.xml
in/
out/
**/*.log
**/*.jar
#src/main/resources/start.rb
docker/start.rb
docker/Dockerfile


