.idea/
.DS_Store
*.iml
env.sh
env.yml
.env
indexer.env.GC_test
tmp/*
target/
vertx/
storage/
dependency-reduced-pom.xml
mets_eai1_1021439846029300.xml
in/
out/
**/*.log
**/*.jar
log/*
!log/.gitkeep
data/*
!data/.gitkeep
**/.vertx/*
!**/.vertx/.gitkeep
docker/Dockerfile
#docker/solr/config/sub/core.properties
#docker/solr/config/sub/core2.properties
docker/solr/config/sub/jetty.xml
docker/solr/config/solr.in.sh
docker/start_converter.rb
docker/start_indexer.rb
docker/start_services.rb

docker-compose.yml
docker-compose_deploy.yml

docker/Dockerfile
docker/solr/Dockerfile

build_l.sh

src/main/resources/s3cmd/
test*.*
src/main/resources/tmp/
