export GDZ_OAI_ENDPOINT=<url_to_oai_endpoint>
export MAX_ATTEMPTS=3

export REDIS_ADR=<ip>:<port>
export REDIS_HOST=<ip>
export REDIS_PORT=<port>
export REDIS_DB=15

export SOLR_ADR=<ip>:<port>
export SOLR_HOST=<ip>
export SOLR_PORT=<port>

export SUB_GDZ_SOLR_ADR=<url_to_solr>
